<div class="row">
	<div class="col-md-12 text-center">
		<%= link_to "Get new phase", get_rendom_phase_path, remote: true, class: "btn btn-primary mt-2 mb-2" %>	
	</div>
</div>
<div class="row ">
	<div class="col-md-12 text-center">
		<%= link_to "Clear phase", clear_path, class: "btn btn-danger mt-2"%>
	</div>
</div>

<div class="row">
	<div class="col-md-12" id="Phase-div">
		<h1 class="text-center"><%= render 'rand_phase_heading' %></h1>
		<div  class="text-center" "><%= render 'random_phase'%></div>
	</div>
</div>