<div class="row">
	<div class="col-md-12 text-center">
		<%= link_to "Get new phase", get_rendom_phase_path, remote: true, class: "btn btn-primary mt-2 mb-2" %>	
	</div>
</div>
<div class="row ">
	<div class="col-md-12 text-center">
		<%= link_to "Clear phase", "#", class: "btn btn-danger mt-2"%>
	</div>
</div>

<div class="row">
	<div class="col-md-12" id="Phase-div">
		<h1 class="text-center">There are 10 phrases left in the database.</h1>
	</div>
	<div id="phase"></div>
</div>